<md-content layout="row" layout-fill>

    <div layout="column" layout-align="center center" layout-fill flex>
        <div layout="row" layout-align="center end" flex>
            <img src="images/logo.png" flex="50"/>
        </div>
        <div layout="row" layout-align="center start" flex>
            <span>Welcome to Sales Portal</span>
        </div>
    </div>

    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="4"
            flex="25">

        <md-toolbar>
            <md-icon aria-label="Account"
                     class="material-icons md-primary login-icon">
                account_circle
            </md-icon>
        </md-toolbar>
        <md-content layout="column" layout-align="space-around stretch" flex>
            <div layout="row" layout-align="center end">
                <div layout="column" flex="90">
                    <form>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Name</label>
                            <input ng-model="user.name" aria-label="Name" ng-required=""/>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="user.email" type="email"
                                   aria-label="Email" />
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Password</label>
                            <input ng-model="user.password" type="password"
                                   aria-label="Password" />
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Confirm Password</label>
                            <input ng-model="user.password2" type="password"
                                   aria-label="Confirm Password" />
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-button class="md-raised md-primary" md-theme="negative"
                                   aria-label="Cancel" flex
                                   ui-sref="login">
                            <md-icon class="material-icons" aria-label="cancel">
                                cancel
                            </md-icon>
                            Cancel
                        </md-button>
                        <md-button class="md-raised md-primary"
                                   md-theme="positive" aria-label="Login"
                                   aria-label="Create" flex>
                            <md-icon class="material-icons" aria-label="Check">
                                check
                            </md-icon>
                            Create
                        </md-button>
                    </div>
                    </form>
                </div>
            </div>
        </md-content>
    </md-sidenav>

</md-content>