<div layout="column">
    <div layout="row" flex>
        <md-card md-theme="view-card" flex>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <md-icon class="material-icons card-icon"
                                 aria-label="swap">
                            timeline
                        </md-icon>
                    </div>
                </md-card-title-media>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">Last Hour</span>
                    <span class="md-headline">99</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas class="chart chart-line" chart-data="graphHour.data" chart-labels="graphHour.labels"
                        chart-series="series" chart-click="onClick"></canvas>
            </md-card-content>
        </md-card>
        <md-card md-theme="view-card" flex>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <md-icon class="material-icons card-icon"
                                 aria-label="swap">
                            timeline
                        </md-icon>
                    </div>
                </md-card-title-media>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">Last Day</span>
                    <span class="md-headline">99</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas class="chart chart-line" chart-data="graphDay.data" chart-labels="graphDay.labels"
                        chart-series="series" chart-click="onClick"></canvas>
            </md-card-content>
        </md-card>
        <md-card md-theme="view-card" flex>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <md-icon class="material-icons card-icon"
                                 aria-label="swap">
                            timeline
                        </md-icon>
                    </div>
                </md-card-title-media>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">Last Week</span>
                    <span class="md-headline">99</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas class="chart chart-line" chart-data="graphWeek.data" chart-labels="graphWeek.labels"
                        chart-series="series" chart-click="onClick"></canvas>
            </md-card-content>
        </md-card>
    </div>
</div>