<section layout="row" layout-fill>

    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="4"
            flex="20">

        <md-toolbar>
            <h1 class="md-toolbar-tools">System Name</h1>
        </md-toolbar>
        <md-content layout-padding="center center" flex>
            <md-list ng-cloak>
                <md-subheader class="md-no-sticky">
                    Describe Itens
                </md-subheader>
                <md-list-item ng-click="teste()">
                    <md-icon class="material-icons md-primary">
                        people
                    </md-icon>
                    <p>Users</p>
                </md-list-item>
                <md-list-item ng-click="teste()">
                    <md-icon class="material-icons md-primary">
                        insert_drive_file
                    </md-icon>
                    <p>Upload File</p>
                </md-list-item>
                <md-list-item ng-click="teste()">
                    <md-icon class="material-icons md-primary">
                        av_timer
                    </md-icon>
                    <p>History File</p>
                </md-list-item>
                <md-list-item ng-click="teste()">
                    <md-icon class="material-icons md-primary">
                        date_range
                    </md-icon>
                    <p>Calendar</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <md-content flex>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings"
                           ng-disabled="true">
                    <md-icon class="material-icons md-primary">
                        date_range
                    </md-icon>
                </md-button>

                <h2 flex md-truncate>Page name</h2>

                <a class="md-icon-button" aria-label="More">
                    <md-icon class="material-icons md-primary">
                        account_circle
                    </md-icon>
                    User Name
                </a>
            </div>
        </md-toolbar>

        <div layout="row" layout-align="center center">
            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected">
                    <thead md-head md-order="age"
                           md-on-reorder="getDesserts">
                    <tr md-row>
                        <th md-column md-numeric>Age</th>
                        <th md-column>Balance</th>
                        <th md-column>Picture</th>
                        <th md-column>Active</th>
                        <th md-column md-numeric>Order</th>
                        <th md-column>Code</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="dessert"
                        md-auto-select ng-repeat="dessert in tableItens.data | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit ">
                        <td md-cell>{{dessert.age}}</td>
                        <td md-cell>{{dessert.balance}}</td>
                        <td md-cell>{{dessert.picture}}</td>
                        <td md-cell>{{dessert.isActive}}</td>
                        <td md-cell>{{dessert.index}}</td>
                        <td md-cell>{{dessert.guid}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-table-pagination md-limit="5"
                                 md-limit-options="[5, 10, 15]"
                                 md-page="query.page"
                                 md-total="{{tableItens.data.length}}"
                                 md-on-paginate="getDesserts"
                                 md-page-select>
            </md-table-pagination>
        </div>

        <div flex=""></div>

    </md-content>

</section>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->