<div ng-controller="MainCtrl" ng-cloak>
    <md-content layout="row" layout-align="center center">

        <form flex="50" class="teste">
            <div layout="row" layout-align="center center" flex>
                <md-input-container flex="80">
                    <label>Email</label>
                    <input ng-model="user.title" type="email">
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center" flex>
                <md-input-container flex="80">
                    <label>Password</label>
                    <input ng-model="user.p" type="password">
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center" flex>
                <span flex></span>
                <md-button class="md-raised md-primary" md-theme="green" aria-label="Download">
                    <md-icon aria-label="Download" class="material-icons">photo</md-icon>
                    Login
                </md-button>
            </div>
        </form>


    </md-content>
</div>