<section layout="row" layout-fill>

    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="4"
            flex="{{sidenav.flex}}"
            flex-lg="{{sidenav.flexLg}}"
            flex-gt-lg="{{sidenav.flexGtLg}}">

        <md-toolbar>
            <div layout="row" flex>
                <md-button ng-click="menu()"
                           layout="row"
                           layout-align="start center" flex>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <md-icon aria-label="people"
                             class="material-icons">
                        menu
                    </md-icon>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <span ng-show="sidenav.open" >Sales Portal</span>
                    <span ng-show="sidenav.open" flex></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <div layout="row" flex>
                <md-button ui-sref="panel.home"
                           layout="row"
                           layout-align="start center" flex>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <md-icon aria-label="people"
                             class="material-icons md-primary">
                        people
                    </md-icon>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <span ng-show="sidenav.open">User</span>
                    <span ng-show="sidenav.open" flex></span>
                </md-button>
            </div>
            <div layout="row" flex>
                <md-button ui-sref="panel.home"
                           layout="row"
                           layout-align="start center" flex>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <md-icon aria-label="people"
                             class="material-icons md-primary">
                        insert_drive_file
                    </md-icon>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <span ng-show="sidenav.open">Upload File</span>
                    <span ng-show="sidenav.open" flex></span>
                </md-button>
            </div>
            <div layout="row" flex>
                <md-button ui-sref="panel.history"
                           layout="row"
                           layout-align="start center" flex>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <md-icon aria-label="people"
                             class="material-icons md-primary">
                        av_timer
                    </md-icon>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <span ng-show="sidenav.open">History File</span>
                    <span ng-show="sidenav.open" flex></span>
                </md-button>
            </div>
            <div layout="row" ui-sref="panel.home" flex>
                <md-button ui-sref="panel.home"
                           layout="row"
                           layout-align="start center" flex>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <md-icon aria-label="people"
                             class="material-icons md-primary">
                        date_range
                    </md-icon>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <span ng-show="sidenav.open">Calendar</span>
                    <span ng-show="sidenav.open" flex></span>
                </md-button>
            </div>
        </md-content>
    </md-sidenav>

    <md-content flex>

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings"
                           ng-disabled="true">
                    <md-icon class="material-icons md-primary">
                        date_range
                    </md-icon>
                </md-button>

                <h2 flex md-truncate>Page name</h2>

                <a class="md-icon-button" aria-label="More">
                    <md-icon class="material-icons md-primary">
                        account_circle
                    </md-icon>
                    User Name
                </a>
            </div>
        </md-toolbar>

        <ui-view></ui-view>

    </md-content>

</section>