<section layout="row" layout-fill>

    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="4"
            flex="{{sidenav.flex}}"
            flex-lg="{{sidenav.flexLg}}"
            flex-gt-lg="{{sidenav.flexGtLg}}">

        <md-toolbar>
            <div layout="row" flex>
                <md-button ng-click="menu()"
                           layout="row"
                           layout-align="start center" flex>
                    <span ng-show="sidenav.open" flex="5"></span>
                    <md-icon aria-label="people"
                             class="material-icons">
                        menu
                    </md-icon>
                    <span class="panel-menu-label" ng-show="sidenav.open"
                          flex-offset="5" flex>
                        Sales Portal
                    </span>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column">
            <md-list>
                <md-list-item ui-sref="panel.home" class="iten-list">
                    <div class="md-avatar">
                        <md-icon aria-label="people"
                                 class="material-icons md-primary">
                            people
                        </md-icon>
                    </div>
                    <div class="md-list-item-text" ng-show="sidenav.open">
                        <p>Users</p>
                    </div>
                </md-list-item>
                <md-list-item ui-sref="panel.home" class="iten-list">
                    <div class="md-avatar">
                        <md-icon aria-label="people"
                                 class="material-icons md-primary">
                            insert_drive_file
                        </md-icon>
                    </div>
                    <div class="md-list-item-text" ng-show="sidenav.open">
                        <p>Upload File</p>
                    </div>
                </md-list-item>
                <md-list-item ui-sref="panel.history" class="iten-list">
                    <div class="md-avatar">
                        <md-icon aria-label="people"
                                 class="material-icons md-primary">
                            av_timer
                        </md-icon>
                    </div>
                    <div class="md-list-item-text" ng-show="sidenav.open">
                        <p>History</p>
                    </div>
                </md-list-item>
                <md-list-item ui-sref="panel.home" class="iten-list">
                    <div class="md-avatar">
                        <md-icon aria-label="people"
                                 class="material-icons md-primary">
                            date_range
                        </md-icon>
                    </div>
                    <div class="md-list-item-text" ng-show="sidenav.open">
                        <p>Calendar</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <md-content flex>

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings"
                           ng-disabled="true">
                    <md-icon class="material-icons md-primary">
                        date_range
                    </md-icon>
                </md-button>

                <h2 flex md-truncate>Page name</h2>

                <a class="md-icon-button" aria-label="More">
                    <md-icon class="material-icons md-primary">
                        account_circle
                    </md-icon>
                    User Name
                </a>
            </div>
        </md-toolbar>

        <ui-view></ui-view>

    </md-content>

</section>