<div layout="row" flex>
    <md-card md-theme="waiting-card" flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Waiting</span>
                <span class="md-headline">99</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <md-icon class="material-icons card-icon"
                             aria-label="swap">
                        swap_vertical_circle
                    </md-icon>
                </div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
    <md-card md-theme="approved-card" flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Approved</span>
                <span class="md-headline">99</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <md-icon class="material-icons card-icon"
                             aria-label="Check">
                        check_circle
                    </md-icon>
                </div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
    <md-card md-theme="denied-card" flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Denied</span>
                <span class="md-headline">99</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <md-icon class="material-icons card-icon"
                             aria-label="Error">
                        error
                    </md-icon>
                </div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
</div>