.login-card {
  margin-top: 2%;
}

.login-icon {
  $login-size: 110px;
  font-size: $login-size;
  height: $login-size;
  width: $login-size;
}

.history-icon {
  $history-size: 90px;
  font-size: $history-size;
  height: $history-size;
  width: $history-size;
}

.grid-view md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
}

.iten-list {
  height: 50px;

  .md-avatar {
    margin-left: 7px;
    margin-right: 7px;
  }
}